<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a href="#" class="navbar-brand mb-0 h1" (click)="onSelect('recipes')"
        >Recipe Book</a
      > -->
      <a
        href="#"
        class="navbar-brand mb-0 h1"
        routerLink="/recipes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Recipe Book</a
      >
    </div>
    <div class="collapse navbar-collapse d-flex-lg justify-content-lg-between">
      <ul class="navbar-nav org-nav">
        <li class="nav-item">
          <!-- <a href="#" class="nav-link" (click)="onSelect('recipes')">Recipes</a> -->
          <a
            href="#"
            class="nav-link"
            routerLink="/recipes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Recipes</a
          >
        </li>
        <li class="nav-item">
          <!-- <a href="#" class="nav-link" (click)="onSelect('shoppingList')"
            >Shopping List</a> -->
          <a
            href="#"
            class="nav-link"
            routerLink="/shopping-list"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Shopping List</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav my-2 my-lg-0">
        <li class="nav-item dropdown">
          <a
            style="cursor: pointer"
            class="nav-link dropdown-toggle"
            role="button"
            >Manage
          </a>
          <ul class="dropdown-menu show">
            <li class="dropdown-item">
              <a style="cursor: pointer">Save Data</a>
            </li>
            <li class="dropdown-item">
              <a style="cursor: pointer">Fetch Data</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
