<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" #nameInput/>
        </div>
        <div class="col-sm-1 form-group">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control" #amountInput/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success mx-1 my-2" type="submit" (click)="addIngredient($event)">Add</button>
          <button class="btn btn-outline-danger mx-1 my-2" type="button">Delete</button>
          <button class="btn btn-outline-primary mx-1 my-2" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
